@model BlogEngine.BusinessLogic.Models.Post

@{
    ViewData["Title"] = "Details";
}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h5 class="pb-2 mb-2 font-italic border-bottom">
                    @Html.DisplayFor(model => model.Author.Name)
                </h5>
                <div class="blog-post">
                    <h2 class="blog-post-title">@Html.DisplayFor(model => model.Title)</h2>
                    <p class="blog-post-meta">
                        Published by <strong>@Html.DisplayFor(model => model.Approver.Name)</strong> - @Html.DisplayFor(model => model.ApprovalDateTime)
                    </p>

                    <p style="text-align:justify">@Html.DisplayFor(model => model.Body)</p>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 blog-main">
                @if (Model.ImageUrl != null)
                {
                    <img src="@Html.DisplayFor(modelItem => Model.ImageUrl)" width="200" height="250" />
                }
                else
                {
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="30%" y="50%" fill="#eceeef">Thumbnail</text></svg>
                }
            </div>
        </div>
        <hr />

        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-8 blog-main">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="postId" value="@Html.DisplayFor(modelItem => Model.Id)" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input name="commentAuthor" class="form-control form-control-sm" type="text" placeholder="Name" />
                            </div>
                            <div class="form-group col-md-6">
                                <input name="commentEmail" class="form-control form-control-sm" type="email" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="commentBody" class="form-control form-control-sm" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Comment" class="btn btn-dark" />
                        </div>
                    </form>
                </div>
            </div>
        }

        @if (Model.Comment.Count > 0)
        {
            <div class="row">
                <h6>(@Html.DisplayFor(modelItem => Model.Comment.Count)) Comments on @Html.DisplayFor(modelItem => Model.Title)</h6>
            </div>
        }
        @foreach (var item in Model.Comment)
        {
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h5 class="font-italic">
                            @Html.DisplayFor(modelItem => item.AuthorName)
                        </h5>
                        <p style="font-size:small">
                            @Html.DisplayFor(modelItem => item.AuthorEmail) Posted <b>@Html.DisplayFor(modelItem => item.CreationDate)</b>
                        </p>
                        <p class="mb-0" style="text-align:justify">@Html.DisplayFor(modelItem => item.Body)</p>
                    </div>
                </div>
            </div>
        }
        <div>
            <a asp-action="Index">Back</a>
        </div>
    </main>